params {
  parabricks_image = "nvcr.io/nvidia/clara/clara-parabricks:4.7.0-1"
  cpus = 16
  memory = "96 GB"
  num_gpus = 1
}

process {
  errorStrategy = "terminate"
  withName: FQ2BAM {
    container = params.parabricks_image
  }
  withName: HAPLOTYPECALLER {
    container = params.parabricks_image
  }
}

docker {
  enabled = true
  runOptions = "--gpus all --ipc=host"
}

singularity {
  enabled = false
  autoMounts = true
  runOptions = "--nv"
}
